{% extends 'adminBase.html' %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<script>
    $(document).ready(function() {
    $('#attend').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
</script>
<div class="card shadow m-2">
    <div class="card-body" style="width:100%">
        <h5 class="p-2" style="border-bottom:2px solid orange">Download Attendance</h5>
        <div class="container-fluid" style="width:100%">
            <table class="table" id="attend" style="width:100%">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if cnt == 1 %}
                    <tr>
                        <td>1</td>
                        <td>{{emp.user.first_name}} {{emp.user.last_name}}</td>
                        <td>{{emp.date}}</td>
                    </tr>
                    {% endif %}
                    {% if cnt > 1 %}
                    {% for i in emp %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                        <td>{{i.date}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}