{% extends 'adminBase.html' %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
<script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
new DataTable('#example', {
    fixedHeader: {
        header: true,
        footer: true
    },
    paging: false,
    scrollCollapse: true,
    scrollX: true,
    scrollY: 300
});
</script>
<style>
.card {
  width: 100%;
}

.card-body {
  overflow-x: auto;
}

table {
  width: 100%;
}
</style>

<body>
<div class="card shadow m-2" style="width:100%">
    <div class="card-body" style="width:100%">
        <h5 class="p-2" style="border-bottom:2px solid orange">Monthly Salary Calculation</h5>
        <table id="example" border="1px">
            <thead>
                <tr>
                    <th>Employee Code</th>
                    <th>Name</th>
                    <th>Basic Salary</th>
                    <th>HRA</th>
                    <th>Sp. All</th>
                    <th>Gross Salary</th>
                    <th>Salary Month</th>
                    <th>Salary Year</th>
                    <!--<th>Days Present</th>-->
                    <!--<th>Days Total</th>-->
                    <!--<th>Paid Leave</th>-->
                    <!--<th>Unpaid Leave</th>-->
                    <th>Other Earning Taxable</th>
                    <th>Other Deduction</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in staff_data %}
                <tr>
                    <form method="post" action="{% url 'add_salary_calculation' %}">
                        {% csrf_token %}
                        <td>{{ staff.empcode.empcode }}</td>
            <td>{{ staff.empcode.user.first_name }} {{ staff.empcode.user.last_name }}</td>
            <td>{{ staff.basic }}</td>
            <td>{{ staff.hra }}</td>
            <td>{{ staff.specialAll }}</td>
            <td>{{ staff.grossS }}</td>
            <td>{{ selected_month1 }}</td>
            <td>{{ staff.syear }}</td>
            <!--<td>{{ attendance.days_present }}</td>-->
            <!--<td>{{ attendance.days_total }}</td>-->
            <!--<td>{{ attendance.paid_leave }}</td>-->
            <!--<td>{{ attendance.unpaid_leave }}</td>-->
            <input type="hidden" name="empcode" value="{{ staff.empcode.empcode }}">
            <input type="hidden" name="fullname" value="{{ staff.empcode.user.first_name }} {{ staff.empcode.user.last_name }}">
            <input type="hidden" name="basic" value="{{ staff.basic }}">
            <input type="hidden" name="hra" value="{{ staff.hra }}">
            <input type="hidden" name="specialAll" value="{{ staff.specialAll }}">
            <input type="hidden" name="grossS" value="{{ staff.grossS }}">
            <input type="hidden" name="selected_month" value="{{ selected_month1 }}">
            <input type="hidden" name="selected_year" value="{{ staff.syear }}">
                    <!--<td>{{ attendance.days_present }}</td>-->
                    <!--<td>{{ attendance.days_total }}</td>-->
                    <!--<td>{{ attendance.paid_leave }}</td>-->
                    <!--<td>{{ attendance.unpaid_leave }}</td>-->
                    <td>
                        <input type="text" name="others">
                    </td>
                    <td>
                        <input type="text" name="others_deduction">
                    </td>
                    <td><button type="submit">Add</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
{% endblock %}