{% extends 'adminBase.html' %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
<script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
new DataTable('#example', {
    fixedHeader: {
        header: true,
        footer: true
    },
    paging: false,
    scrollCollapse: true,
    scrollX: true,
    scrollY: 300
});
</script>
<style>
.card {
  width: 100%;
}

.card-body {
  overflow-x: auto;
}

table {
  width: 100%;
}
</style>
<div class="card shadow m-2" style="width:100%">
    <div class="card-body" style="width:100%">
        <h5 class="p-2" style="border-bottom:2px solid orange">Diet Incentive Calculation</h5>
        <form method="post" id="filter-form">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="month">Month</label>
                    <select class="form-control" id="month" name="month" required>
                        <option value="" disabled selected>Select Month</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="year">Year</label>
                    <select class="form-control" id="year" name="year" required>
                        <option value="" disabled selected>Select Year</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <!-- Add other years here -->
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary" style="margin-left: 20px; margin-top: 30px;">Submit</button>
                </div>
        <div class="container-fluid" style="width:100%">
            <table class="table" id="example" style="width:100%;" border="1px">
                <thead>
                    <tr>
                        <th>Empcode</th>
                        <th>Doctor Expert Name</th>
                        <th>Total number of Allotted Participants</th>
                        <th>Total No. of Participants without INT 0</th>
                        <th>#of Patients in Red (Without INT 0)</th>
                        <th>Your Calling Reds %</th>
                        <th>Incentive 1</th>
                        <th>Amount</th>
                        <th>NPS % (Exercise)</th>
                        <th>Incentive 2  (NPS) </th>
                        <th>Amount (NPS)</th>
                        <th>QRS %</th>
                        <th>Incentive 3  (QRS)</th>
                        <th>Amount (QRS)</th>
                        <th>Your Total Effort Incentive (Out of Rs. 15/-)</th>
                        <th>Your Total Effort Incentive PAYOUT</th>
                        <th>VIP Participants</th>
                        <th>Amount-VIP Participant </th>
                        <th>International Participants Allotted</th>
                        <th>Additional payment for International Participants</th>
                        <th>Your Total Final PAYOUT</th>
                        <th>Less: TDS</th>
                        <th>Net Payout</th>
                        <th>Month</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in diInc %}
                    <tr>
                        <td>{{emp.empcode.empcode}}</td>
                        <td>{{emp.diet_expert_name}}</td>
                        <td>{{emp.total_no_of_allotted_participants}}</td>
                        <td>{{emp.total_no_of_participants}}</td>
                        <td>{{emp.patients_in_red}}</td>
                        <td>{{emp.calling_reds}}</td>
                        <td>{{emp.incentive_1}}</td>
                        <td>{{emp.amount_1}}</td>
                        <td>{{emp.nps_percent}}</td>
                        <td>{{emp.incentive_2}}</td>
                        <td>{{emp.amount_2}}</td>
                        <td>{{emp.qrs_percent}}</td>
                        <td>{{emp.incentive_3}}</td>
                        <td>{{emp.amount_3}}</td>
                        <td>{{emp.total_effort_incentive}}</td>
                        <td>{{emp.total_effort_payout}}</td>
                        <td>{{emp.vip_patients}}</td>
                        <td>{{emp.amount_vip_participant}}</td>
                        <td>{{emp.international_participant_alloted}}</td>
                        <td>{{emp.add_pay_for_international_participant}}</td>
                        <td>{{emp.total_effort_incentive_payout}}</td>
                        <td>{{emp.less_tds}}</td>
                        <td>{{emp.net_payout}}</td>
                        <td>{{emp.month}}</td>
                        <td>{{emp.year}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}